<div class="recebimento-form">
  <% if recebimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recebimento.errors.count, "error") %> prohibited this recebimento from being saved:</h2>

      <ul>
      <% recebimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: recebimento, local: true) do |form| %>

    <div class="field">
      <%= form.label "Acompanhamento" %>
      <%= form.select :acompanhamento_id, Acompanhamento.all.order(data_inicio: :asc).map { |a| [a.render_info_padrao, a.id] } %>
    </div>

    <div class="field">
      <%= form.label "Pagante" %>
      <%= form.select :pessoa_pagante_id, Pessoa.all.order(nome: :asc, sobrenome: :asc).map { |pessoa| [pessoa.nome_completo, pessoa.id] }, include_blank: true %>
    </div>

    <div class="field">
      <%= form.label "Valor" %>
      <%= form.number_field :valor %>
    </div>

    <div class="field">
      <%= form.label "Data do pagamento" %>
      <%= form.date_field :data %>
    </div>

    <div class="field">
      <%= form.label "Modalidade de pagamento" %>
      <%= form.select :modalidade_id, PagamentoModalidade.all.map { |mod| [mod.modalidade, mod.id] } %>
    </div>

    <div class="field">
      <%= form.label "Direto para o profissional" %>
      <%= form.check_box :direto_profissional %>
    </div>

    <div class="action">
      <%= form.submit %>
    </div>

  <% end %>
</div>
