<%= titulo "Recebimentos" %>
<h1>Recebimentos</h1>
<%= link_to "Baixar tabela CSV", recebimentos_path(format: :csv) %>
<%= link_to "+ recebimento", new_recebimento_path %>
<p>
  Recebimentos do mês:
  <% @total_mes = 0 %>
  <% @recebimentos.where("MONTH(data) = MONTH(CURRENT_DATE)").each do |recebimento| %>
    <% @total_mes += recebimento.valor %>
  <% end %>
  <%= render_dinheiro_centavos @total_mes %>
</p>

<p>
  Recebimentos totais:
  <% @total = 0 %>
  <% @recebimentos.each do |recebimento| %>
    <% @total += recebimento.valor %>
  <% end %>
  <%= render_dinheiro_centavos @total %>
</p>

<div class="valores-cobrar">
  <h3>Valores a cobrar do mês passado</h3>
  <% @a_receber = 0 %>
  <% Pessoa.order(nome: :asc, sobrenome: :asc).each do |pessoa| %>
    <% a_receber_ate_mes_passado = pessoa.atendimento_valor.where("atendimentos.data" => [..(Date.today - 1.month).end_of_month]).sum("valor - desconto") %>
    <% ja_recebidos = pessoa.recebimento.sum(:valor) %>
    <% resultado = a_receber_ate_mes_passado - ja_recebidos %>

    <% if resultado > 0 %>
      <div class="pessoa-devendo">
        <%= pessoa.nome_abreviado %>
        <%= render_dinheiro_centavos resultado %>
        <% @a_receber += resultado %> 
      </div>
    <% end %>
  <% end %>
  <p><strong>Total a receber: <%= render_dinheiro_centavos @a_receber %></strong></p>
</div>


<div class="recebimentos-container">
  <% @recebimentos.each do |recebimento| %>
    <%= render 'card', recebimento: recebimento %>
  <% end %>
</div>
