<% if profissional != nil %>
  <% pessoa = profissional.pessoa %>
  <%= link_to profissional, class: "pessoa-card" + " " + (profissional.feminino ? "feminino" : "masculino") do %>
    <div>
      <h2><%= profissional.nome_completo %></h2>

      <h6>
        <%= profissional.funcao %>
      </h6>
      <!-- informações -->
      <p><%= pessoa.data_nascimento ? pessoa.render_data_nascimento : "Sem informação" %> (<%= pessoa.render_idade %>)</p>
      <% if pessoa.cpf then %>
        <p><%= pessoa.render_cpf %></p>
      <% end %>
        <p><%= pessoa.email ? pessoa.email : "Não definido" %></p>
        <p><%= (pessoa.fone_cod_pais || pessoa.fone_cod_area || pessoa.fone_num) ? pessoa.render_fone : "Não definido" %></p>
    </div>
  <% end %>
<% end %>
