<% if profissional != nil %>
  <% pessoa = profissional.pessoa %>
  <%= link_to profissional, class: "pessoa-card" + " " + (profissional.feminino ? "feminino" : "masculino") do %>
    <div>
      <h2><%= profissional.nome_abreviado %></h2>

      <h3>
        <%= profissional.funcao %>
      </h3>
      <h6><%= profissional.documento %></h6>
      <!-- informações -->
      <p><%= profissional.acompanhamento.where(data_final: nil, acompanhamento_finalizacao_motivo: nil).count %> acompanhamentos em andamento</p>
      <p><%= pessoa.email ? pessoa.email : "Não definido" %></p>
      <p><%= (pessoa.fone_cod_pais || pessoa.fone_cod_area || pessoa.fone_num) ? pessoa.render_fone : "Não definido" %></p>
    </div>
  <% end %>
<% end %>
