<% cl = "tabela-infantojuvenil-anamnese-gestacao" %>
<tr class="<%= cl %>">
  <th class="big-header" colspan="100%">Gestação e nascimento</th>
</tr>

<tr class="<%= cl %>">
  <th>Gestação foi desejada?</th>
  <td><%= gestacao.foi_desejada? %></td>
</tr>

<tr class="<%= cl %>">
  <th>Idade da mãe</th>
  <td><%= gestacao.idade_mae %> anos</td>
</tr>

<tr class="<%= cl %>">
  <th>Idade do pai</th>
  <td><%= gestacao.idade_pai %> anos</td>
</tr>

<tr class="<%= cl %>">
  <th>Irmãos mais velhos</th>
  <td><%= gestacao.irmaos_mais_velhos %></td>
</tr>

<tr class="<%= cl %>">
  <th>Irmãos mais novos</th>
  <td><%= gestacao.irmaos_mais_novos %></td>
</tr>

<tr class="<%= cl %>">
  <th>Com quantos meses após a gestação anterior a criança foi concebida?</th>
  <td><%= gestacao.gestacao_anterior_meses ? "#{gestacao.gestacao_anterior_meses} meses" : "Não informado" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Abortos anteriores (espontâneos e/ou intencionais)</th>
  <td><%= gestacao.abortos_anteriores %></td>
</tr>

<tr class="<%= cl %>">
  <th>Data do pré-natal</th>
  <td><%= gestacao.data_pre_natal ? render_data_brasil(gestacao.data_pre_natal) : "Não informada" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Como era a saúde da mãe durante a gestação?</th>
  <td><%= gestacao.mae_saude %></td>
</tr>

<tr class="<%= cl %>">
  <th>Quais foram as sensações sentidas pela mãe durante a gestação?</th>
  <td><%= gestacao.mae_sensacoes || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Houve internações da mãe durante a gravidez?</th>
  <td><%= gestacao.mae_internacoes || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe sentiu enjoos?</th>
  <td><%= gestacao.mae_enjoos || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe vomitou durante a gravidez?</th>
  <td><%= gestacao.mae_vomitos || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe teve diabetes durante a gravidez?</th>
  <td><%= gestacao.mae_diabetes || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe sofreu traumatismos durante a gravidez?</th>
  <td><%= gestacao.mae_traumatismo || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe teve convulsões durante a gravidez?</th>
  <td><%= gestacao.mae_convulsoes || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>A mãe chegou a tomar medicamentos durante a gravidez?</th>
  <td><%= gestacao.mae_medicamentos || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Local do parto</th>
  <td><%= gestacao.parto_local.local || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Tipo de parto</th>
  <td><%= gestacao.parto_tipo.descricao || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Peso da criança ao nascer</th>
  <td><%= gestacao.nascimento_peso_g ? "#{number_to_currency(gestacao.nascimento_peso_g, precision: 0, delimiter: ".", unit: "")}g" : "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Comprimento da criança ao nascer</th>
  <td><%= gestacao.nascimento_comprimento_cm ? "#{number_to_currency(gestacao.nascimento_comprimento_cm, precision: 0, delimiter: ".", unit: "")}cm" : "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Duração da gestação</th>
  <td><%= gestacao.gestacao_semanas ? "#{gestacao.gestacao_semanas} semanas" : "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Condições da criança ao nascer</th>
  <td><%= gestacao.nascimento_crianca_condicoes || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Reação da mãe ao nascimento da criança</th>
  <td><%= gestacao.nascimento_reacao_mae || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Reação do pai ao nascimento da criança</th>
  <td><%= gestacao.nascimento_reacao_pai || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Reação dos irmãos ao nascimento da criança</th>
  <td><%= gestacao.nascimento_reacao_irmaos || "Sem informações" %></td>
</tr>

<tr class="<%= cl %>">
  <th>Desenvolvimento do parto</th>
  <td><%= gestacao.desenvolvimento_parto || "Sem informações" %></td>
</tr>
