<% titulo "Anamnese infantojuvenil" %>
<h1>Anamnese infantojuvenil</h1>
<%= link_to "editar", edit_infantojuvenil_anamnese_path(@infantojuvenil_anamnese) %>

<div style="position:fixed;width:30%;top:2em;right:2em;padding:2em;background-color:darkred;color:white;border-radius:2em;opacity:.5;">
  <%= @infantojuvenil_anamnese.psicomotricidade.attributes.keys %>
</div>

<table class="tabela-infantojuvenil-anamnese" style="width:90%;margin:auto;">
  <%= render "tabela-dados-principais", infantojuvenil_anamnese: @infantojuvenil_anamnese %>
  <tbody>
    <%= render "tabela-gestacao", gestacao: @infantojuvenil_anamnese.gestacao %>
    <%= render "tabela-alimentacao", alimentacao: @infantojuvenil_anamnese.alimentacao %>
    <%= render "tabela-psicomotricidade", psicomotricidade: @infantojuvenil_anamnese.psicomotricidade %>
  </tbody>
</table>
