<%= form_with(model: psicologo, local: true) do |form| %>
  <% if psicologo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(psicologo.errors.count, "error") %> prohibited this psicologo from being saved:</h2>

      <ul>
      <% psicologo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :sobrenome %>
    <%= form.text_field :sobrenome %>
  </div>

  <div class="field">
    <label>Sexo</label>
    <!--<%= form.label :feminino %>-->
    <!--<%= form.text_field :feminino %>-->
    <select id="feminino">
    <option value='0'>Masculino</option>
    <option value='1'>Feminino</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :fone_cod_pais %>
    <%= form.text_field :fone_cod_pais %>
  </div>

  <div class="field">
    <%= form.label :fone_cod_area %>
    <%= form.text_field :fone_cod_area %>
  </div>

  <div class="field">
    <%= form.label :fone_num %>
    <%= form.text_field :fone_num %>
  </div>

  <div class="field">
    <%= form.label :civil_estado_id %>
    <%= form.select :civil_estado_id, CivilEstado.all.collect {|c| [c.estado, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :crp_regiao_id %>
    <%= form.text_field :crp_regiao_id %>
  </div>

  <div class="field">
    <%= form.label :crp_valor %>
    <%= form.text_field :crp_valor %>
  </div>

  <div class="field">
    <%= form.label :data_colacao %>
    <%= form.date_select :data_colacao %>
  </div>

  <div class="field">
    <%= form.label :municipio_id %>
    <%= form.text_field :municipio_id %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :especializacao_01 %>
    <%= form.text_field :especializacao_01 %>
  </div>

  <div class="field">
    <%= form.label :especializacao_02 %>
    <%= form.text_field :especializacao_02 %>
  </div>

  <div class="field">
    <%= form.label :chave_pix_01 %>
    <%= form.text_field :chave_pix_01 %>
  </div>

  <div class="field">
    <%= form.label :chave_pix_02 %>
    <%= form.text_field :chave_pix_02 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
