<p id="notice"><%= notice %></p>

<h1>Psicologos</h1>

<div class="psicologos">
<% @psicologos.each do |p| %>
  <div class="psicologo-show">
    <h2><%= p.nome %> <%= p.sobrenome %></h2>
    <h3>CRP <%= p.crp_regiao.id.to_s.rjust(2, '0') %>/<%= p.crp_valor %></h3>
    <%= link_to "Show", p %>
    <%= link_to "Edit", edit_psicologo_path(p) %>
    <%= link_to "PDF", psicologo_path(p, format: :pdf) %>
    <p><%= p.bio %></p>
    <% if !p.especializacao_01.blank? or !p.especializacao_02.blank? %>
      <%= [p.especializacao_01, p.especializacao_02].join(", ") %>
    <% end %>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Psicologo', new_psicologo_path %>
