<p id="notice"><%= notice %></p>

<% fone = "+" + @psicologo.fone_cod_pais.to_s + @psicologo.fone_cod_area.to_s + @psicologo.fone_num.to_s %>


<% sexo = @psicologo.feminino ? "F" : "M" %>

<div class="psicologo-dados">
  <h1><%= @psicologo.nome %> <%= @psicologo.sobrenome %> (<%= sexo %>)</h1>
  <h2>CRP 
    <%= @psicologo.crp_regiao.id.to_s.rjust(2, "0") %>/<%= @psicologo.crp_valor %> (<%= @psicologo.crp_regiao.uf.sigla %>)</h2>
  <h3>Contato</h3>
  <p class="email"><a href="mailto:<%= @psicologo.email %>"><%= @psicologo.email %></a></p>
  <p class="telefone">
  <a href="tel:+<%= fone %>"><%= fone %></a>
  <a href="https://wa.me/<%= fone %>" target="_blank">ZapZap</a>
  </p>

  <% if !@psicologo.especializacao_01.blank? %>
      <p>Especialização em <%= @psicologo.especializacao_01 %>
      <% if @psicologo.especializacao_02 %>
          e  <%= @psicologo.especializacao_02 %>
      <% end %>
      </p>
  <% end %>

  <h3>Biografia</h3>
  <p><%= @psicologo.bio %></p>
</div>

<%= link_to 'Edit', edit_psicologo_path(@psicologo) %> |
<%= link_to 'Back', psicologos_path %>
