<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @psicologo.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @psicologo.sobrenome %>
</p>

<p>
  <strong>Feminino:</strong>
  <%= @psicologo.feminino %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @psicologo.cpf %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @psicologo.data_nascimento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @psicologo.email %>
</p>

<p>
  <strong>Fone cod pais:</strong>
  <%= @psicologo.fone_cod_pais %>
</p>

<p>
  <strong>Fone cod area:</strong>
  <%= @psicologo.fone_cod_area %>
</p>

<p>
  <strong>Fone num:</strong>
  <%= @psicologo.fone_num %>
</p>

<p>
  <strong>Civil estado:</strong>
  <%= @psicologo.civil_estado %>
</p>

<p>
  <strong>Crp regiao:</strong>
  <%= @psicologo.crp_regiao %>
</p>

<p>
  <strong>Crp valor:</strong>
  <%= @psicologo.crp_valor %>
</p>

<p>
  <strong>Data colacao:</strong>
  <%= @psicologo.data_colacao %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @psicologo.municipio %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @psicologo.bio %>
</p>

<p>
  <strong>Especializacao 01:</strong>
  <%= @psicologo.especializacao_01 %>
</p>

<p>
  <strong>Especializacao 02:</strong>
  <%= @psicologo.especializacao_02 %>
</p>

<p>
  <strong>Chave pix 01:</strong>
  <%= @psicologo.chave_pix_01 %>
</p>

<p>
  <strong>Chave pix 02:</strong>
  <%= @psicologo.chave_pix_02 %>
</p>

<%= link_to 'Edit', edit_psicologo_path(@psicologo) %> |
<%= link_to 'Back', psicologos_path %>
