<% u = @atendimento.acompanhamento.usuario %>
<% pro = @atendimento.acompanhamento.profissional %>
<h1>
  <%= render_data_brasil @atendimento.data %> às <%= render_hora_brasil @atendimento.horario %>
</h1>
<%= link_to "dados do acompanhamento", @atendimento.acompanhamento %>
<%= link_to u.pessoa, class:"pessoa" do %><h2><%= u.nome_completo %></h2><% end %>
<%= link_to pro.pessoa, class:"pessoa" do %><h3><%= pro.nome_completo %> <%= pro.render_documento %></h3><% end %>

<div>
<%= @atendimento.consideracoes %>
</div>
<br /><br />
<div>
<%= @atendimento.relato.nil? ? "Sem relato" : "Opa, tem relato sim!"  %>
</div>
