<%= titulo "Atendimento de #{render_data_brasil @atendimento.data} às #{render_hora_brasil @atendimento.horario}" %>
<% u = @atendimento.acompanhamento.pessoa %>
<% pro = @atendimento.acompanhamento.profissional %>
<h1>
  <%= render_data_brasil @atendimento.data %> às <%= render_hora_brasil @atendimento.horario %>
</h1>
<%= link_to "dados do acompanhamento", @atendimento.acompanhamento %>
<%= link_to u, class:"pessoa" do %><h2><%= u.nome_completo %></h2><% end %>
<%= link_to pro, class:"profissional" do %><h3><%= pro.nome_completo %> <%= pro.documento %></h3><% end %>

<h4><%= @atendimento.acompanhamento.motivo %></h4>

<%= render "form-individual", atendimento: @atendimento %>

<% if !@atendimento.relato.nil? %>
<%= link_to "relato", @atendimento.relato %>
<% else %>
  <%= link_to "escrever relato", new_relato_path %>
<% end %>
</div>
