<% u = @atendimento.acompanhamento.usuario %>
<% pro = @atendimento.acompanhamento.profissional %>
<h1>
  <%= render_data_brasil @atendimento.data %> às <%= render_hora_brasil @atendimento.horario %>
</h1>
<%= link_to "dados do acompanhamento", @atendimento.acompanhamento %>
<%= link_to u.pessoa, class:"pessoa" do %><h2><%= u.nome_completo %></h2><% end %>
<%= link_to pro.pessoa, class:"pessoa" do %><h3><%= pro.nome_completo %> <%= pro.documento %></h3><% end %>

<h4><%= @atendimento.acompanhamento.motivo %></h4>

<div>
  <% if @atendimento.consideracoes %>
    <%== Kramdown::Document.new(@atendimento.consideracoes).to_html %>
  <% else %>
    <%= "Nada a observar" %>
  <% end %>
</div>
<br /><br />
<div>
<% if @atendimento.relato %>
  <%= link_to "PDF", { controller: :relatos, id: @atendimento.id, action: :show_pdf }, class: "btn-pdf" %>
  <%= link_to "Relato", { controller: :relatos, id: @atendimento.id, action: :show }, class: "btn-show" %>
<% end %>

<%
=begin
%>
<%= render "form_individual", { atendimento: @atendimento }%>
<%
=end
%>
<%= form_with model: @atendimento do |form| %>
  <%= @atendimento.id %>
  <%= fields_for :atendimento_valor, @atendimento.atendimento_valor do |valor_form | %>
      <%= valor_form.label :valor %>
      <%= valor_form.number_field :valor %>
      <%= valor_form.label :desconto %>
      <%= valor_form.number_field :desconto %>
      <%= valor_form.label :taxa_porcentagem %>
      <%= valor_form.number_field :taxa_porcentagem %>
  <% end %>
  <%= form.submit %>
<% end %>

</div>
