<p id="notice"><%= notice %></p>

<h1>Profissionais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Feminino</th>
      <th>Cpf</th>
      <th>Civil estado</th>
      <th>Instrucao grau</th>
      <th>Data nascimento</th>
      <th>Funcao</th>
      <th>Municipio</th>
      <th>Endereco cep</th>
      <th>Endereco logradouro</th>
      <th>Endereco numero</th>
      <th>Endereco complemento</th>
      <th>Fone cod pais</th>
      <th>Fone cod area</th>
      <th>Fone num</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Salario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissionals.each do |profissional| %>
      <tr>
        <td><%= profissional.nome %></td>
        <td><%= profissional.sobrenome %></td>
        <td><%= profissional.feminino %></td>
        <td><%= profissional.cpf %></td>
        <td><%= profissional.civil_estado %></td>
        <td><%= profissional.instrucao_grau %></td>
        <td><%= profissional.data_nascimento %></td>
        <td><%= profissional.funcao %></td>
        <td><%= profissional.municipio %></td>
        <td><%= profissional.endereco_cep %></td>
        <td><%= profissional.endereco_logradouro %></td>
        <td><%= profissional.endereco_numero %></td>
        <td><%= profissional.endereco_complemento %></td>
        <td><%= profissional.fone_cod_pais %></td>
        <td><%= profissional.fone_cod_area %></td>
        <td><%= profissional.fone_num %></td>
        <td><%= profissional.email %></td>
        <td><%= profissional.bio %></td>
        <td><%= profissional.salario %></td>
        <td><%= link_to 'Show', profissional %></td>
        <td><%= link_to 'Edit', edit_profissional_path(profissional) %></td>
        <td><%= link_to 'Destroy', profissional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo profissional', new_profissional_path %>
