<%= form_with(model: uf, local: true) do |form| %>
  <% if uf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uf.errors.count, "error") %> prohibited this uf from being saved:</h2>

      <ul>
      <% uf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :sigla %>
    <%= form.text_field :sigla %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
