<% paises = Pais.all %>

<%= form_with(model: pessoa, local: true) do |form| %>
  <% if pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :sobrenome %>
    <%= form.text_field :sobrenome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :fone_cod_pais %>
    <%= form.text_field :fone_cod_pais %>
  </div>

  <div class="field">
    <%= form.label :fone_cod_area %>
    <%= form.text_field :fone_cod_area %>
  </div>

  <div class="field">
    <%= form.label :fone_num %>
    <%= form.text_field :fone_num %>
  </div>

  <div class="field">
    <%= form.label :feminino %>
    <%= form.check_box :feminino %>
  </div>

  <div class="field">
    <%= form.label :civil_estado_id %>
    <%= form.text_field :civil_estado_id %>
  </div>

  <div class="field">
    <%= form.label :instrucao_grau_id %>
    <%= form.text_field :instrucao_grau_id %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :pais_id %>
    <%= form.text_field :pais_id %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :endereco_cep %>
    <%= form.number_field :endereco_cep %>
  </div>

  <div class="field">
    <%= form.label :endereco_logradouro %>
    <%= form.text_field :endereco_logradouro %>
  </div>

  <div class="field">
    <%= form.label :endereco_numero %>
    <%= form.number_field :endereco_numero %>
  </div>

  <div class="field">
    <%= form.label :endereco_complemento %>
    <%= form.text_field :endereco_complemento %>
  </div>

  <div class="field">
    <%= form.label :preferencia_contato %>
    <%= form.text_field :preferencia_contato %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
