<p id="notice"><%= notice %></p>

<% pro = @pessoa.profissional %>
<% u = @pessoa.usuario %>

<div class="info-container">
    <div class="pessoa-container">
      <h2><%= @pessoa.nome %> <%= @pessoa.sobrenome %> <%= @pessoa.render_sexo_sigla %></h2>
    
    
      <!-- se for profissional -->
      <% if pro != nil %>
        <div class="profissional">
          <% profunc = pro.profissional_funcao %>
          <p><%= profunc.funcao %> <%= pro.render_documento %></p>
        </div>
      <% end %>

      <!-- se for usuário do serviço -->
      <% if u != nil %>
        <div class="usuario">
          <p><%= u.profissao.to_s.upcase %></p>
          <p><%= u.preferencia_contato %></p>
        </div>
      <% end %>

      <p>
      <%= @pessoa.render_cpf %>
      </p>

      <!-- informações de contato -->
      <div class="contato">
        <%= link_to @pessoa.email, "mailto:#{@pessoa.email}" %>
        <%= link_to @pessoa.render_fone, "tel:#{@pessoa.render_fone_link}" %>
        <%= link_to "ZAPZAP", "https://wa.me/#{@pessoa.render_fone_link}", target: :_blank %>
      </div>

      <!-- dados pessoais -->
      <div class="dados-pessoais">
        <% if @pessoa.data_nascimento != nil %>
          <p><%= render_data_brasil @pessoa.data_nascimento %> (<%= @pessoa.render_idade %>)</p>
        <% end %>
        <%= @pessoa.instrucao_grau.grau.upcase %>
        <%= @pessoa.civil_estado.estado.upcase %>
      </div>

      <!-- dados de endereço -->
      <div class="endereco">
        <%= @pessoa.render_endereco %>
        <p><%= @pessoa.render_cidade_estado %></p>
        <p><%= @pessoa.pais.nome %></p>
      </div>
    </div>


    <div class="acompanhamentos">
      <!-- se é profissional -->
      <% if pro != nil %>
        <div class="profissional-acompanhamentos">
          <h3>Casos</h3>
          <ul>
          <% pro.acompanhamento.order(data_inicio: :desc).each do |a| %>
            <%= link_to a, class: "#{a.data_final ? 'acompanhamento-finalizado' : 'acompanhamento-em-andamento'}" do %><li><%= a.render_info_para_profissional %></li><% end %>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- se é usuário -->
      <% if u != nil %>
        <!-- últimos atendimentos ou próximos -->
        <div class="usuario-proximos-atendimentos">
          <h3>Próximos atendimentos</h3>
          <ul>
            <% u.acompanhamento.each do |ac| %>
              <% ac.atendimento.where("DATEDIFF(data, CURRENT_DATE) >= 0").each do |at| %>
                <li>
                  <%= ac.acompanhamento_tipo.tipo.to_s.upcase %> - <%= render_data_brasil at.data %> às <%= render_hora_brasil at.horario %>
                  <%= link_to ac.profissional.pessoa do %>
                    (<%= ac.profissional.nome_completo %>
                  <span style="font-size:.7em;"><%= ac.profissional.render_documento %></span>)
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <% if u.acompanhamento.first != nil %>
        <div class="usuario-acompanhamentos">
          <h3>Acompanhamentos</h3>
          <ul>
            <% u.acompanhamento.order(data_inicio: :desc).each do |a| %>
              <%= link_to a do %><li><%= a.render_info_para_usuario %></li><% end %>
            <% end %>
          </ul>
          </div>
        <% end %>
      <% end %>

      <!-- se é responsável -->
      <% if u != nil && u.acompanhamento_responsavel != nil %>
        <div class="usuario-acompanhamentos-responsavel">
          <h3>Acompanhamentos pelos quais responde</h3>
          <% if u != nil %>
            <% u.acompanhamento_responsavel.order(data_inicio: :desc).each do |a| %>
              <%= link_to a do %><li><%= a.render_info_para_usuario %></li><% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

</div>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
