<%= content_for titulo @pessoa.nome_abreviado %>
<p id="notice"><%= notice %></p>

<% pro = @pessoa.profissional %>

<div class="info-container">
    <div class="pessoa-container">
      <h2><%= @pessoa.nome_completo %> <%= @pessoa.render_sexo_sigla %></h2>
    
      <!-- se for profissional -->
      <% if !pro.nil? %>
        <div class="profissional">
          <% profunc = pro.profissional_funcao %>
          <p><%= profunc.funcao %> <%= pro.documento %></p>
          <%= link_to "Editar", edit_profissional_path, profissional: pro %>
        </div>
      <% end %>

      <p>
        CPF <%= @pessoa.render_cpf %>
      </p>

      <!-- informações de contato -->
      <div class="contato">
        <%= link_to @pessoa.email, "mailto:#{@pessoa.email}" %>
        <% if @pessoa.tem_telefone %>
          <%= phone_to @pessoa.render_fone, "#{@pessoa.render_fone_link}" %>
          <%= link_to "ZAPZAP", "https://wa.me/#{@pessoa.render_fone_link}", target: :_blank %>
        <% end %>
      </div>

      <!-- dados pessoais -->
      <div class="dados-pessoais">
        <% if @pessoa.data_nascimento != nil %>
          <p><%= render_data_brasil @pessoa.data_nascimento %> (<%= @pessoa.render_idade %>)</p>
        <% end %>
        <%= @pessoa.instrucao_grau ? @pessoa.instrucao_grau.grau.upcase : "Não informado" %>
        <%= @pessoa.civil_estado ? @pessoa.civil_estado.estado : "Não informado" %>
      </div>

      <!-- dados de endereço -->
      <div class="endereco">
        <%= @pessoa.render_endereco %>
        <p><%= @pessoa.render_cidade_estado %></p>
        <p><%= @pessoa.pais.nome %></p>
      </div>
    </div>


    <div class="acompanhamentos">
      <!-- se é profissional -->
      <% if pro != nil %>
        <%= render 'profissionais/acompanhamentos-lista', profissional: pro %>
      <% end %>

      <!-- se é usuário -->
      <!-- últimos atendimentos ou próximos -->
      <% if !@pessoa.acompanhamento.empty? %>
        <% if !@pessoa.atendimento.where("DATEDIFF(data, CURRENT_DATE) > 0 OR (DATEDIFF(data, CURRENT_DATE) = 0 AND HOUR(horario) > HOUR(CURRENT_TIME))").empty? %>
          <div class="pessoa-proximos-atendimentos">
            <h3>Próximos atendimentos</h3>
              <ul>
                <% @pessoa.atendimentos_futuros.each do |at| %>
                  <li>
                    <%= link_to at do %>
                      <%= at.acompanhamento_tipo.to_s.upcase %> - <%= render_data_brasil at.data %> às <%= render_hora_brasil at.horario %>
                    <% end %>
                    <%= link_to at.profissional do %>
                      (<%= at.profissional.nome_completo %>
                      <span style="font-size:.7em;"><%= at.profissional.documento %></span>)
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="pessoa-acompanhamentos">
          <h3>Acompanhamentos</h3>
          <ul>
            <% @pessoa.acompanhamento.order(data_inicio: :desc).each do |a| %>
              <%= link_to a do %><li><%= a.render_info_para_pessoa %></li><% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- se é responsável -->
      <% if !@pessoa.acompanhamento_responsavel.empty? %>
        <div class="pessoa-acompanhamentos-responsavel">
          <h3>Acompanhamentos pelos quais responde</h3>
          <% if @pessoa.acompanhamento_responsavel != nil %>
            <% @pessoa.acompanhamento_responsavel.order(data_inicio: :desc).each do |a| %>
              <%= link_to a do %><li><%= a.render_info_para_pessoa %></li><% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- se for usuário mostrar dados dos atendimentos -->
    <% if !@pessoa.atendimento.empty? %>
      <div class="caso-resumo">
        <h2>
          Resumo do caso
        </h2>
        <% @pessoa.atendimento.where.not(consideracoes: nil).each do |at| %>
          <div class="consideracoes">
            <h3><%= at.tipo %> - <%= render_data_brasil at.data %></h3>
            <h4><%= at.profissional.descricao_completa %> (<%= at.acompanhamento.tipo.upcase %>)</h4>
            <%== Kramdown::Document.new(at.consideracoes || "Sem considerações").to_html %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- se for usuário mostrar informações extras -->
    <% if !@pessoa.informacoes_extras.empty? %>
      <div class="informacoes-extras">
        <h3>
          Informações extras
          <%= link_to new_pessoa_extra_informacao_path do %>
            <span>+ informação extra</span>
          <% end %>
        </h3>
        <ul>
          <% @pessoa.informacoes_extras.order(data: :desc).each do |ei| %>
            <%= link_to ei do %>
              <li>
                <%= render_data_brasil ei.data %> -
                <%= ei.meio %>
              </li>
              <%= link_to "PDF", {controller: :pessoa_extra_informacoes, action: :show_pdf, id: ei.id } %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
