<%= form_with(model: profissional_funco, local: true) do |form| %>
  <% if profissional_funco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profissional_funco.errors.count, "error") %> prohibited this profissional_funco from being saved:</h2>

      <ul>
      <% profissional_funco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :funcao %>
    <%= form.text_field :funcao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
