<p id="notice"><%= notice %></p>

<h1>Profissional Funcoes</h1>

<table>
  <thead>
    <tr>
      <th>Funcao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissional_funcoes.each do |profissional_funco| %>
      <tr>
        <td><%= profissional_funco.funcao %></td>
        <td><%= link_to 'Show', profissional_funco %></td>
        <td><%= link_to 'Edit', edit_profissional_funco_path(profissional_funco) %></td>
        <td><%= link_to 'Destroy', profissional_funco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profissional Funco', new_profissional_funco_path %>
