<%= link_to "Voltar", acompanhamentos_path %>
<% p = @acompanhamento.usuario.pessoa %>
<% pro = @acompanhamento.profissional.pessoa %>
<%= link_to p, class: "pessoa" do %><h1><%= p.nome %> <%= p.sobrenome %> <%= p.render_sexo_sigla %> <span style="font-size:.6em;font-weight:normal;"><%= @acompanhamento.acompanhamento_tipo.tipo.upcase %></span></h1><% end %>

<%= link_to pro, class: "profissional" do %><h2><%= pro.nome %> <%= pro.sobrenome %> <span style="font-size:.5em;font-weight:normal;"><%= @acompanhamento.profissional.render_documento %></span></h2><% end %>

<p>Início em <%= render_data_brasil @acompanhamento.data_inicio %></p>
<p><%= @acompanhamento.data_final ? (render_data_brasil @acompanhamento.data_final) : "Em andamento" %><%= @acompanhamento.acompanhamento_finalizacao_motivo ? " (finalização por #{@acompanhamento.acompanhamento_finalizacao_motivo.motivo})" : "" %></p>

<p>Valor da sessão: <%= render_dinheiro_centavos @acompanhamento.valor_atual %></p>

<div class="atendimentos-lista">
  <ul>
    <% @acompanhamento.atendimento.order(data: :desc).each do |a| %>
      <%= link_to a, class: "atendimento" do %><li><%= render_data_brasil a.data %> às <%= render_hora_brasil a.horario %> <%= a.presenca == '1' ? '(PRESENTE)' : a.data < Time.now.to_date ? '(AUSENTE)' : a.data == Time.now.to_date && a.horario < Time.now.to_time ? '(AUSENTE)' : '' %></li><% end %>
      <% if a.atendimento_valor != nil %>
        <%= render_dinheiro_centavos a.atendimento_valor.valor %><%= a.atendimento_valor.taxa_porcentagem > 0 ? " (taxa de #{render_porcentagem_int a.atendimento_valor.taxa_porcentagem})" : "" %>
        Líquido: <%= render_dinheiro_centavos (a.atendimento_valor.valor - (a.atendimento_valor.valor * a.atendimento_valor.taxa_porcentagem / 10000 )) %>
      <% else %>
        Atendimento sem registro de cobrança
      <% end %>
    <% end %>
  </ul>
</div>
