<%= titulo "#{@acompanhamento.tipo(titulo: true)}: #{@acompanhamento.pessoa.nome_completo}"%>
<%= link_to "Voltar", acompanhamentos_path %>
<% p = @acompanhamento.pessoa %>
<% pro = @acompanhamento.profissional.pessoa %>
<%= link_to p, class: "pessoa" do %><h1><%= p.nome_abreviado %> <%= p.render_sexo_sigla %> <span style="font-size:.6em;font-weight:normal;"><%= @acompanhamento.tipo(upper: true) %></span></h1><% end %>

<%= link_to @acompanhamento.profissional, class: "profissional" do %>
  <h2>
    <%= pro.nome_abreviado %>
    <span style="font-size:.5em;font-weight:normal;">
      <%= @acompanhamento.profissional.documento %>
    </span>
  </h2>
<% end %>

<h3>Motivo do acompanhamento: <%= @acompanhamento.motivo %></h3>

<p>Início em <%= render_data_brasil @acompanhamento.data_inicio %></p>
<p><%= @acompanhamento.data_final ? (render_data_brasil @acompanhamento.data_final) : "Em andamento" %><%= @acompanhamento.acompanhamento_finalizacao_motivo ? " (finalização por #{@acompanhamento.acompanhamento_finalizacao_motivo.motivo})" : "" %></p>

<%= link_to "+ Atendimento", new_atendimento_path, data: { "turbo_frame" => "modal" }%>
<%= button_to "Adicionar atendimento para próxima semana", acompanhamento_new_atendimento_proxima_semana_path(@acompanhamento) %>

<p>Valor da sessão: <%= render_dinheiro_centavos @acompanhamento.valor_atual %></p>

<%= render "caso-resumo", acompanhamento: @acompanhamento %>

<div class="atendimentos-lista">
  <ul>
    <% @acompanhamento.atendimento.order(data: :desc).each do |a| %>
      <%= link_to a, class: "atendimento", data: { turbo_frame: :modal } do %><li><%= render_data_brasil a.data %> às <%= render_hora_brasil a.horario %> <%= a.status.upcase %></li><% end %>
      <% if a.atendimento_valor != nil %>
        <%= render_dinheiro_centavos a.atendimento_valor.valor %><%= a.atendimento_valor.taxa_porcentagem_externa > 0 ? " (taxa de #{render_porcentagem_int a.atendimento_valor.taxa_porcentagem_externa})" : "" %>
        Líquido: <%= render_dinheiro_centavos (a.atendimento_valor.valor - (a.atendimento_valor.valor * a.atendimento_valor.taxa_porcentagem_externa / 10000 )) %>
      <% else %>
        Atendimento sem registro de cobrança
      <% end %>
      <p><%= a.atendimento_tipo.tipo.upcase %></p>
      <p><%== Kramdown::Document.new(a.consideracoes.to_s).to_html %></p>

      <% if a.relato %>
        <%= link_to "Relato", { controller: :relatos, id: a.id, action: :show, format: :pdf },{ class: "btn-relato", target: "_blank" }%>
      <% end %>
    <% end %>
  </ul>
</div>
