<%= form_with(model: instrucao_grau, local: true) do |form| %>
  <% if instrucao_grau.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instrucao_grau.errors.count, "error") %> prohibited this instrucao_grau from being saved:</h2>

      <ul>
      <% instrucao_grau.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grau %>
    <%= form.text_field :grau %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
