<p id="notice"><%= notice %></p>

<h1>Instrucao Graus</h1>

<table>
  <thead>
    <tr>
      <th>Grau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instrucao_graus.each do |instrucao_grau| %>
      <tr>
        <td><%= instrucao_grau.grau %></td>
        <td><%= link_to 'Show', instrucao_grau %></td>
        <td><%= link_to 'Edit', edit_instrucao_grau_path(instrucao_grau) %></td>
        <td><%= link_to 'Destroy', instrucao_grau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrucao Grau', new_instrucao_grau_path %>
