<% titulo "Laudo" %>
<h1>Ver laudo</h1>
<%= link_to "editar", edit_laudo_path(@laudo) %>
<%= link_to "download markdown", laudo_path(@laudo, format: :md), { target: :blank } %>

<table style="width:90%;margin:auto;">
  <caption><%= @laudo.finalidade %> por <%= @laudo.profissional.nome_abreviado %> - <%= @laudo.profissional.funcao %> <%= @laudo.profissional.documento %></caption>
  <thead>
    <tr>
      <th colspan=2>Identificação</th>
    </tr>

    <tr>
      <th>Avaliador</th>
      <td><%= @laudo.profissional.nome_completo %></td>
    </tr>

    <tr>
      <th>Nome do paciente</th>
      <td><%= @laudo.paciente.nome_completo %></td>
    </tr>

    <tr>
      <th>Sexo</th>
      <td><%= @laudo.paciente.render_sexo %></td>
    </tr>

    <tr>
      <th>Data de início</th>
      <td><%= render_data_brasil @laudo.data_inicial %></td>
    </tr>

    <tr>
      <th>Data da avaliação</th>
      <td><%= render_data_brasil @laudo.data_final %></td>
    </tr>

    <tr>
      <th>Dias de avaliação</th>
      <td><%= @laudo.dias_de_avaliacao %></td>
    </tr>

    <tr>
      <th>Idade na avaliação</th>
      <td><%= @laudo.paciente.render_idade(@laudo.data_avaliacao) %></td>
    </tr>

    <tr>
      <th>Interessado</th>
      <td><%= @laudo.interessado || @laudo.paciente.nome_completo %></td>
    </tr>

    <tr>
      <th>Finalidade da avaliação</th>
      <td><%= @laudo.finalidade %></td>
    </tr>

    <tr>
      <th>Sessões</th>
      <td><%= @laudo.num_sessoes %></td>
    </tr>

    <tr>
      <th>Demanda</th>
      <td><%== Kramdown::Document.new(@laudo.demanda.to_s.gsub(/{%\s+paciente\s+%}/, @laudo.paciente.nome_completo)).to_html || "Não definida" %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan=2>Informações</th>
    </tr>
    <tr>
      <th>Técnicas utilizadas</th>
      <td><%== Kramdown::Document.new(@laudo.tecnicas.to_s.gsub(/{%\s+paciente\s+%}/, @laudo.paciente.nome_completo)).to_html %></td>
    </tr>

    <tr>
      <th>Análise</th>
      <td><%== Kramdown::Document.new(@laudo.analise.to_s.gsub(/{%\s+paciente\s+%}/, @laudo.paciente.nome_completo)).to_html %></td>
    </tr>

    <tr>
      <th>Conclusão</th>
      <td><%== Kramdown::Document.new(@laudo.conclusao.to_s.gsub(/{%\s+paciente\s+%}/, @laudo.paciente.nome_completo)).to_html %></td>
    </tr>
  </tbody>
</table>
