<%= form_with(model: parentesco, local: true) do |form| %>
  <% if parentesco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parentesco.errors.count, "error") %> prohibited this parentesco from being saved:</h2>

      <ul>
      <% parentesco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parentesco %>
    <%= form.text_field :parentesco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
