<p id="notice"><%= notice %></p>

<h1>Usuario Devolutivas</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Usuario responsavel</th>
      <th>Profissional</th>
      <th>Data</th>
      <th>Feedback responsavel</th>
      <th>Orientacoes profissional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_devolutivas.each do |usuario_devolutiva| %>
      <tr>
        <td><%= usuario_devolutiva.usuario %></td>
        <td><%= usuario_devolutiva.usuario_responsavel_id %></td>
        <td><%= usuario_devolutiva.profissional %></td>
        <td><%= usuario_devolutiva.data %></td>
        <td><%= usuario_devolutiva.feedback_responsavel %></td>
        <td><%= usuario_devolutiva.orientacoes_profissional %></td>
        <td><%= link_to 'Show', usuario_devolutiva %></td>
        <td><%= link_to 'Edit', edit_usuario_devolutiva_path(usuario_devolutiva) %></td>
        <td><%= link_to 'Destroy', usuario_devolutiva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Devolutiva', new_usuario_devolutiva_path %>
