<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profissional_id %>
    <%= form.select :profissional_id, Profissional.all.map { |p| [p.descricao_completa, p.id] } %>
  </div>

  <div class="field">
    <%= form.label "Nome de usuário" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :confirmar_senha %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.check_box :admin %>
  <%= form.label :admin %>

  <%= form.check_box :corpo_clinico %>
  <%= form.label "Corpo clínico" %>

  <%= form.check_box :secretaria %>
  <%= form.label "Secretaria" %>

  <%= form.check_box :secretaria %>
  <%= form.label "Secretaria" %>

  <%= form.check_box :financeiro %>
  <%= form.label :financeiro %>

  <%= form.check_box :informatica %>
  <%= form.label "TI" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
