<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Cpf</th>
      <th>Fone cod pais</th>
      <th>Fone cod area</th>
      <th>Fone num</th>
      <th>Feminino</th>
      <th>Estado civil</th>
      <th>Instrucao grau</th>
      <th>Data nascimento</th>
      <th>Email</th>
      <th>Municipio</th>
      <th>Endereco cep</th>
      <th>Endereco logradouro</th>
      <th>Endereco numero</th>
      <th>Endereco complemento</th>
      <th>Profissao</th>
      <th>Preferencia contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.sobrenome %></td>
        <td><%= usuario.cpf %></td>
        <td><%= usuario.fone_cod_pais %></td>
        <td><%= usuario.fone_cod_area %></td>
        <td><%= usuario.fone_num %></td>
        <td><%= usuario.feminino %></td>
        <td><%= usuario.estado_civil %></td>
        <td><%= usuario.instrucao_grau %></td>
        <td><%= usuario.data_nascimento %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.municipio %></td>
        <td><%= usuario.endereco_cep %></td>
        <td><%= usuario.endereco_logradouro %></td>
        <td><%= usuario.endereco_numero %></td>
        <td><%= usuario.endereco_complemento %></td>
        <td><%= usuario.profissao %></td>
        <td><%= usuario.preferencia_contato %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
