<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @usuario.sobrenome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Fone cod pais:</strong>
  <%= @usuario.fone_cod_pais %>
</p>

<p>
  <strong>Fone cod area:</strong>
  <%= @usuario.fone_cod_area %>
</p>

<p>
  <strong>Fone num:</strong>
  <%= @usuario.fone_num %>
</p>

<p>
  <strong>Feminino:</strong>
  <%= @usuario.feminino %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @usuario.estado_civil %>
</p>

<p>
  <strong>Instrucao grau:</strong>
  <%= @usuario.instrucao_grau %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @usuario.data_nascimento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @usuario.municipio %>
</p>

<p>
  <strong>Endereco cep:</strong>
  <%= @usuario.endereco_cep %>
</p>

<p>
  <strong>Endereco logradouro:</strong>
  <%= @usuario.endereco_logradouro %>
</p>

<p>
  <strong>Endereco numero:</strong>
  <%= @usuario.endereco_numero %>
</p>

<p>
  <strong>Endereco complemento:</strong>
  <%= @usuario.endereco_complemento %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @usuario.profissao %>
</p>

<p>
  <strong>Preferencia contato:</strong>
  <%= @usuario.preferencia_contato %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
