<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @usuario.pessoa %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @usuario.profissao %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
