<%= form_with(model: responsavel_usuario, local: true) do |form| %>
  <% if responsavel_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(responsavel_usuario.errors.count, "error") %> prohibited this responsavel_usuario from being saved:</h2>

      <ul>
      <% responsavel_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.number_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :responsavel_id %>
    <%= form.number_field :responsavel_id %>
  </div>

  <div class="field">
    <%= form.label :parentesco_id %>
    <%= form.text_field :parentesco_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
