<p id="notice"><%= notice %></p>

<h1>Responsavel Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Responsavel</th>
      <th>Parentesco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsavel_usuarios.each do |responsavel_usuario| %>
      <tr>
        <td><%= responsavel_usuario.usuario_id %></td>
        <td><%= responsavel_usuario.responsavel_id %></td>
        <td><%= responsavel_usuario.parentesco %></td>
        <td><%= link_to 'Show', responsavel_usuario %></td>
        <td><%= link_to 'Edit', edit_responsavel_usuario_path(responsavel_usuario) %></td>
        <td><%= link_to 'Destroy', responsavel_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsavel Usuario', new_responsavel_usuario_path %>
