<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @responsavel_usuario.usuario_id %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @responsavel_usuario.responsavel_id %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @responsavel_usuario.parentesco %>
</p>

<%= link_to 'Edit', edit_responsavel_usuario_path(@responsavel_usuario) %> |
<%= link_to 'Back', responsavel_usuarios_path %>
