<% if !atendimentos.empty? %>
  <table class="tabela-atendimentos">
    <caption>Atendimentos de hoje</caption>
    <thead>
      <tr>
        <th>Profissional</th>
        <th>Paciente</th>
        <th>Descrição</th>
        <th>Horário</th>
        <th>Local</th>
        <th>Status</th>
        <% if !usuario_atual.nil? %>
          <th>Ações</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% atendimentos.each do |ah| %>
        <% presenca_class = "tr-atendimento-#{ah.status.parameterize}" %>
        <tr class="<%= presenca_class %> tr-atendimento">
          <td>
            <%= ah.profissional.nome_abreviado %>
              <span style="font-size:.7em;"><%= ah.profissional.documento %></span>
          </td>
          <td>
            <%= ah.paciente.nome_abreviado %>
          </td>
          <td>
            <%= ah.tipo %> - <%= ah.modalidade %>
          </td>
          <td>
            <%= render_hora_brasil ah.horario %>
          </td>
          <td><%= ah.local %></td>
          <td>
            <%= ah.status %>
            <% if !ah.pessoa_presente && ah.em_breve_ou_em_andamento && !usuario_atual.nil? %>
              <%= form_with model: ah, local: true do |form| %>
                <%= form.label "Presente?" %>
                <%= form.check_box :presenca %>
                <%= form.submit "🗸" %>
              <% end %>
            <% end %>
          </td>

          <% if !usuario_atual.nil? && (usuario_atual.secretaria? || usuario_atual.profissional == ah.profissional)%>
            <td>
              <%= link_to "ver", ah %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
