<% content_for titulo "" %>
<h1><%= Rails.application.class %></h1>

<!-- atendimentos de hoje -->
<% if !@atendimentos_hoje.empty? %>
  <table style="width:100%;">
    <thead>
      <tr><th colspan="4">Atendimentos de hoje</th></tr>
      <tr>
        <th>Profissional</th>
        <th>Paciente</th>
        <th>Tipo</th>
        <th>Horário</th>
      </tr>
    </thead>

    <tbody>
      <% @atendimentos_hoje.each do |ah| %>
        <tr>
          <td>
          <%= ah.acompanhamento.profissional.nome_completo %>
          <span style="font-size:.7em;"><%= ah.acompanhamento.profissional.render_documento %></span>
          </td>
          <td>
            <%= ah.acompanhamento.usuario.nome_completo %>
          </td>
          <td>
            <%= ah.atendimento_tipo.tipo %>
          </td>
          <td>
            <%= render_hora_brasil ah.horario %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!-- calendário mensal -->
<%
=begin
%>
  <h2>
    Atendimentos do mês
    <span style="font-size:.7em;">
      (<%= @atendimentos.count %>)
    </span>
  </h2>
  <%= month_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos| %>
    <div>
      <div class="calendario-dia"><%= date.strftime("%d") %></div>

      <% atendimentos.each do |atendimento| %>
        <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
      <% end %>
    </div>
  <% end %>
<%
=end
%>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :semana_select, "Semana do dia" %>
  <%= form.date_field [start_date: @start_date], onchange: "window.location.search = '?start_date=' + this.value", value: @start_date %>
<% end %>

<!-- calendário semanal? -->
<h3><%= @atendimentos.count %> atendimentos nesta semana</h3>
<p>
<% atendidos = @atendimentos.where(presenca: true).count %>
<% nao_atendidos = @atendimentos.where("data < CURRENT_DATE AND presenca = FALSE").count %>
<% futuros = @atendimentos.where("data > CURRENT_DATE").count %>
<%= atendidos %> <%= 'realizados'.pluralize(atendidos) %>,
<%= nao_atendidos %> <%= 'não realizado'.pluralize(nao_atendidos) %>,
<%= futuros %> <%= 'futuro'.pluralize(futuros) %>.
</p>
<%= week_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos|%>
  <div class="day">
    <%= date.day %>
  </div>
  <% atendimentos.each do |atendimento| %>
    <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
  <% end %>
<% end %>
