<% content_for titulo "" %>
<h1><%= Rails.application.class.module_parent_name %></h1>


<!-- atendimentos de hoje -->
<% if !@atendimentos_hoje.empty? %>
  <table class="table-atendimento">
    <caption>Atendimentos de hoje</caption>
    <thead>
      <tr>
        <th>Profissional</th>
        <th>Paciente</th>
        <th>Descrição</th>
        <th>Horário</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @atendimentos_hoje.each do |ah| %>
        <% presenca_class = "tr-atendimento-#{ah.status.parameterize}" %>
        <tr class="<%= presenca_class %> tr-atendimento">
          <td>
            <%= link_to ah.profissional, {class: "atendimento-profissional"} do %><%= ah.profissional.nome_abreviado %>
              <span style="font-size:.7em;"><%= ah.profissional.documento %></span>
          <% end %>
          </td>
          <td>
            <%= link_to ah.pessoa.nome_abreviado, ah.pessoa, {class: "atendimento-pessoa atendimento-pessoa-#{ah.pessoa.render_sexo.parameterize}"} %>
          </td>
          <td>
            <%= ah.tipo %> <%= ah.modalidade %>
          </td>
          <td>
            <%= link_to (render_hora_brasil ah.horario), ah %>
          </td>
          <td>
            <%= ah.status %>
            <% if !ah.pessoa_presente || ah.em_breve_ou_em_andamento %>
              <%= form_with model: ah, local: true do |form| %>
                <%= form.label "Presente?" %>
                <%= form.check_box :presenca %>
                <%= form.submit "🗸" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!-- calendário mensal -->
<%
=begin
%>
  <h2>
    Atendimentos do mês
    <span style="font-size:.7em;">
      (<%= @atendimentos.count %>)
    </span>
  </h2>
  <%= month_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos| %>
    <div>
      <div class="calendario-dia"><%= date.strftime("%d") %></div>

      <% atendimentos.each do |atendimento| %>
        <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
      <% end %>
    </div>
  <% end %>
<%
=end
%>


<!-- calendário semanal? -->
<h2><%= @start_date.to_date.year %> - Semana <%= @start_date.to_date.strftime("%U") %></h2>
<h3><%= @atendimentos.count %> atendimento(s) nesta semana</h3>
<p>
  <% atendidos = @atendimentos.where(presenca: true).count %>
  <% nao_atendidos = @atendimentos.where("(data < CURRENT_DATE AND presenca = FALSE) OR (data = CURRENT_DATE AND HOUR(horario) < HOUR(CURRENT_TIME) AND presenca = FALSE)").count %>
  <% futuros = @atendimentos.where("data > CURRENT_DATE OR (data = CURRENT_DATE && HOUR(horario) > HOUR(CURRENT_TIME))").count %>
  <%= atendidos %> <%= 'realizados'.pluralize(atendidos) %>,
  <%= nao_atendidos %> <%= 'não realizado'.pluralize(nao_atendidos) %>,
  <%= futuros %> <%= 'futuro'.pluralize(futuros) %>.
</p>

<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :semana_select, "Selecionar semana" %>
  <%= form.week_field [start_date: @start_date], onchange: "if (this.value != '') window.location.search = '?start_date=' + this.value", value: @start_date %>
<% end %>

<%= week_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos|%>
  <div class="day">
    <%= date.day %>
  </div>
  <% atendimentos.each do |atendimento| %>
    <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
  <% end %>
<% end %>
