<% content_for titulo "" %>
<h1><%= Rails.application.class.module_parent_name %></h1>


<!-- atendimentos de hoje -->
<%= render "atendimentos-hoje-tabela", atendimentos: @atendimentos_hoje %>

<!-- calendário mensal -->
<%
=begin
%>
  <h2>
    Atendimentos do mês
    <span style="font-size:.7em;">
      (<%= @atendimentos.count %>)
    </span>
  </h2>
  <%= month_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos| %>
    <div>
      <div class="calendario-dia"><%= date.strftime("%d") %></div>

      <% atendimentos.each do |atendimento| %>
        <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
      <% end %>
    </div>
  <% end %>
<%
=end
%>


<!-- calendário semanal? -->
<h2><%= @start_date.to_date.year %> - Semana <%= @start_date.to_date.strftime("%U") %></h2>
<h3><%= @atendimentos.count %> atendimento(s) nesta semana</h3>
<p>
  <% atendidos = @atendimentos.where(presenca: true).count %>
  <% nao_atendidos = @atendimentos.where("(data < CURRENT_DATE AND presenca = FALSE) OR (data = CURRENT_DATE AND HOUR(horario) < HOUR(CURRENT_TIME) AND presenca = FALSE)").count %>
  <% futuros = @atendimentos.where("data > CURRENT_DATE OR (data = CURRENT_DATE && HOUR(horario) > HOUR(CURRENT_TIME))").count %>
  <%= atendidos %> <%= 'realizados'.pluralize(atendidos) %>,
  <%= nao_atendidos %> <%= 'não realizado'.pluralize(nao_atendidos) %>,
  <%= futuros %> <%= 'futuro'.pluralize(futuros) %>.
</p>

<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :semana_select, "Selecionar semana" %>
  <%= form.week_field [start_date: @start_date], onchange: "if (this.value != '') window.location.search = '?start_date=' + this.value", value: @start_date %>
<% end %>

<%= link_to "+ atendimento", new_atendimento_path %>

<%= week_calendar(events: @atendimentos, attribute: :data) do |date, atendimentos|%>
  <div class="day">
    <%= date.day %>
  </div>
  <% atendimentos.each do |atendimento| %>
    <%= render "atendimentos/atendimento-card", atendimento: atendimento %>
  <% end %>
<% end %>
