<p id="notice"><%= notice %></p>

<h1>Crp Regiaos</h1>

<table>
  <thead>
    <tr>
      <th>Uf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crp_regiaos.each do |crp_regiao| %>
      <tr>
        <td><%= crp_regiao.uf %></td>
        <td><%= link_to 'Show', crp_regiao %></td>
        <td><%= link_to 'Edit', edit_crp_regiao_path(crp_regiao) %></td>
        <td><%= link_to 'Destroy', crp_regiao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crp Regiao', new_crp_regiao_path %>
