<nav class="navbar">
  <%= link_to root_path do %><li>Home</li><% end %>
  <%= link_to pessoas_path do %><li>Cadastros</li><% end %>
  <!-- colocar alguma coisa para os usuários -->
  <%= link_to profissionais_path do %><li>Profissionais</li><% end %>
  <%= link_to acompanhamentos_path do %><li>Acompanhamentos</li><% end %>
  <%= link_to financeiro_path do %><li>Financeiro</li><% end %>
</nav>
