<!DOCTYPE html>
<html>
  <head>
    <title>Lapsidar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if membro_signed_in? %>
      <%= current_membro.papel %>
      <%= current_membro.email %>
      <%= link_to "Morrer", destroy_membro_session_path, method: :delete %>
    <% else %>
      <%= link_to "acordar", new_membro_session_path %>
      <%= link_to "nascer", new_membro_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
